@charset "utf-8";
/* CSS Document */

body{
	margin: 0px;
	border: 0px;
	padding: 0px;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-weight: normal;
    text-transform: uppercase;
}

label {
    margin-right:30px;
    text-align:left;
}

input {
    float: right;
    margin-top: 5px;
}

th{
	text-align:left;
	width: 250px;
}

form button{
	width:150px;
}

.login_text{
    color: red;
    margin-top: 5px;
    margin-bottom: -10px;
}

#login_form{
	width: 300px;
}

#fileToUpload{
	float:left;
}

#upload_form{
	width:380px;
}

#path_input{
	width:300px;
}

#image_page{
	width:100%;
	height:100%;
}

#upload_button{
	float:left;
}

#users_button{
	float:left;
}

#login_button{
	float:left;
}

#images_button{
	float:left;	
}

#add_user{
	float:left;
	width:310px;
}

#add_user_button{
	float:left;
}

#container {

}

#login_div {
    width: 20%;
    background-color: #ededed;
    border: 1px solid;
    border-color: #bcbcbc;
    padding-left: 10px;
    padding-bottom: 20px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    min-width: 320px;
}

#image_div{
    max-width: 20%;
    display: block;
}